.background {
    background-color: #513443;
    padding: 20px 0;
  }
  
  .titulo {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
  
  .navList {
    list-style: none;     
  }
  
 
  
 
  
 